body {
  background-color: #FFFFFF;
}

h1 {
  color: OrangeRed;
  text-align: center;
}

form {
  display: absolute;
}

form input {
  width: 225px;
}

.main-logo {
  height: 100px;
}

.center-page-container {
  position: relative;
  top: 200px;
  left: 40%;
  width: 300px;
}



/* ########## HEADER NAVBAR ########## */
.headernav {
  position: relative;
}

.headernav-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.headernav-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.headernav a {
  position: relative;
  display: inline-block;
  padding: 7px;
  color: #5F6368;
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
}

.headernav a:hover {
  text-decoration: underline;
}

.headernav i {
  position: relative;
  font-size: medium;
  top: 2px;
  color: gray;
}

.headernav i:hover {
  color: black;
}

/* ########## FOOTER NAVBAR ########## */
.footernav {
  background-color: #F2F2F2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footernav a {
  float: left;
  display: block;
  color: #5F6368;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

.footernav-right {
  float:right;
}
