body {
  background-color: Azure;
}

h1 {
  color: OrangeRed;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
